.graph1{
    position: absolute;
    top: 2%;
    left: 0%;
        #graph{
            width: 135%;
        }

    .percent{
        position: absolute;
        top: 43%;
        width: 100%;
        font-size: 22px;
        color:#fff;
        left : 17%;
        
    }
}

.hero{
    position: relative;
    img{
        width: 100%;
    }
}

.test{
    
    //top: 41%;
    // font-size: 10px;
    // color: #fff;
    //left: 5%;

    #ling{
        width: 10px;
        path{
            fill: #fff;
        }
    }
}
.posisi{
    position: absolute;
    font-size: 13px;
    width: 100%;
    color: #fff;
    left: 0%; 
    font-weight: bold;
    text-align: center;
    top: 24%;
}

.posisi2{
    position: absolute;
    font-size: 12px;
    width: 100%;
    color: #fff;
    left: 0%; 
    font-weight: bold;
    text-align: center;
    top: 27%;
}


ion-button{
    position: absolute;
    top: 0%;
    left: 100%;
    padding-left: 35px;
    --box-shadow: none;
    z-index: 99999999;
}

.header-md::after{
    display: none;
}