<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inflasi Pengeluaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="hero">
        <img src="../assets/imgs/bg-avatar.png"/>
      </div>
      
      <ion-row>
          <div class="graph1">
              <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <svg version="1.1" id="graph" (click)="viewSekarang(sk)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 120 100" enable-background="new 0 0 120 100" xml:space="preserve">
                 <g>
                   <g>
                     <g>
                       <path fill="none" stroke="#fff" stroke-width="10.5" stroke-miterlimit="10" d="M97.113,96.13
                         c20.501-20.496,20.503-53.731,0.004-74.229c-20.5-20.501-53.732-20.499-74.234,0c-20.495,20.498-20.5,53.733,0,74.231"/>
                     </g>
                   </g>
                   <g>
                   </g>
                   <g>
                     
                       <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="20.9282" y1="126.6025" x2="99.6572" y2="126.6025" gradientTransform="matrix(-1 0 0 -1 120.293 185.6172)">
                       <stop  offset="0" style="stop-color:#FFFFFF"/>
                       <stop  offset="1" style="stop-color:#E6E6E5"/>
                     </linearGradient>
                     <circle fill="none" stroke="url(#SVGID_1_)" stroke-width="0.7586" stroke-miterlimit="10" cx="60" cy="59.016" r="38.985"/>
                     <g>
                       <g>
                         <g>
                           <g>
                             
                               <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="38.2305" y1="104.5371" x2="82.3563" y2="148.6629" gradientTransform="matrix(-1 0 0 -1 120.293 185.6172)">
                               <stop  offset="0" style="stop-color:#3880ff"/>
                               <stop  offset="1" style="stop-color:#3880ff"/>
                             </linearGradient>
                             <path fill="url(#SVGID_2_)" d="M91.202,59.016c0,17.235-13.97,31.2-31.202,31.2s-31.203-13.965-31.203-31.2
                               c0-17.23,13.971-31.2,31.203-31.2S91.202,41.785,91.202,59.016z"/>
                           </g>
                         </g>
                         <defs>
                           <filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="28.797" y="27.815" width="62.405" height="62.4">
                             
                               <feColorMatrix  type="matrix" values="-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0" color-interpolation-filters="sRGB" result="source"/>
                           </filter>
                         </defs>
                         <mask maskUnits="userSpaceOnUse" x="28.797" y="27.815" width="62.405" height="62.4" id="SVGID_3_">
                           <g filter="url(#Adobe_OpacityMaskFilter)">
                           </g>
                         </mask>
                         <g opacity="0.2" mask="url(#SVGID_3_)">
                           <g>
                             <path fill="#010101" d="M91.202,59.016c0,17.235-13.97,31.2-31.202,31.2s-31.203-13.965-31.203-31.2
                               c0-17.23,13.971-31.2,31.203-31.2S91.202,41.785,91.202,59.016z"/>
                           </g>
                         </g>
                       </g>
                     </g>
                     
                       <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="37.6934" y1="104" x2="82.8923" y2="149.1989" gradientTransform="matrix(-1 0 0 -1 120.293 185.6172)">
                       <stop  offset="0" style="stop-color:#FFFFFF"/>
                       <stop  offset="1" style="stop-color:#E6E6E5"/>
                     </linearGradient>
                     <path fill="none" stroke="url(#SVGID_4_)" stroke-width="1.5172" stroke-miterlimit="10" d="M91.202,59.016
                       c0,17.235-13.97,31.2-31.202,31.2s-31.203-13.965-31.203-31.2c0-17.23,13.971-31.2,31.203-31.2S91.202,41.785,91.202,59.016z"/>
                     
                       <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="86.9023" y1="99.9922" x2="32.5359" y2="154.3587" gradientTransform="matrix(-1 0 0 -1 120.293 185.6172)">
                       <stop  offset="0" style="stop-color:#FFFFFF"/>
                       <stop  offset="1" style="stop-color:#E6E6E5"/>
                     </linearGradient>
                     <path fill="url(#SVGID_5_)" d="M32.434,86.582c15.225,15.224,39.908,15.224,55.132-0.001
                       c15.226-15.222,15.228-39.907,0.002-55.132c-15.226-15.227-39.909-15.225-55.134,0C17.21,46.674,17.208,71.357,32.434,86.582z
                        M60,27.815c17.232,0,31.202,13.97,31.202,31.2c0,17.235-13.97,31.2-31.202,31.2s-31.203-13.965-31.203-31.2
                       C28.797,41.785,42.768,27.815,60,27.815z"/>
                   </g>
                 </g>
                 </svg>
                 
                 <ion-button [routerLink]="['/menu/pengeluaranchart']">Lainnya</ion-button>
                        <div class="percent">
                          <ion-row *ngFor = "let rsSekarang of kategorisekarang">
                              <ion-col>
                                
                              </ion-col>
                                <ion-col>
                                    <b>{{ rsSekarang.nilai_inflasi }}%</b>
                                </ion-col>
                                <ion-col>
                
                                </ion-col>
                            </ion-row>
                        </div>
                </ion-col>
                <ion-col></ion-col>
              </ion-row>
            </div>        
      </ion-row>
      <div class="posisi">
        <p>Inflasi Pengeluaran Tertinggi saat ini</p>       
      </div>
        <div *ngFor ="let rsInkat2 of kategorisekarang" class="posisi2">
          <p>{{ rsInkat2.nama_kategori }} sebesar {{ rsInkat2.nilai_inflasi }}%</p>
        </div> 
      <!-- <ion-row>
          <div *ngIf="cekin" class="test">
            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                        <svg version="1.1" id="ling" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                              viewBox="0 0 6 6" enable-background="new 0 0 6 6" xml:space="preserve">
                          <circle fill="#fff" cx="3" cy="3" r="2.963"/>
                        </svg>
                        <div class="go">Inflasi Pengeluaran Tertinggi saat ini</div>
                    
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
          </div> 
      </ion-row> -->
  <ion-card>
    <ion-item>
      <ion-col>
        <b>Nama Pengeluaran</b>
      </ion-col>
      <ion-col>
        <b>Besar Inflasi</b>
      </ion-col>
    </ion-item>
    <ion-item *ngFor ="let rsInkat of inflasi_kategori">
      <ion-col>
        {{ rsInkat.nama_kategori }}
      </ion-col>
      <ion-col>
        {{ rsInkat.nilai_inflasi }}
      </ion-col>
    </ion-item>
  </ion-card> 
</ion-content>
