<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inflasi Tahun Kalender</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="atas">
      <svg version="1.1" id="atas2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 360 90" enable-background="new 0 0 360 90" xml:space="preserve">
   <g>
     <g>
       <g>
         <path fill="#4C1F1F" d="M360,89.833
           c0,0-23.951-0.461-49.637-0.461s-48.939-10.41-65.773-27.244c-36.324-36.325-95.22-36.325-131.545,0
           C96.212,78.962,72.958,89.372,47.272,89.372C21.586,89.372,0,89.833,0,89.833v-0.078V0.167l360,0.667V89.833z"/>
       </g>
     </g>
   </g>
   </svg>
  </div>  
  
  <ion-row>
      <div class="graph">
        <ion-row>
          <ion-col></ion-col>
            <ion-col>
                <svg version="1.1" id="circle" (click)="viewSekarang(sk)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 155 155" enable-background="new 0 0 155 155" xml:space="preserve">
                  <g>
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="38.7051" y1="144.6445" x2="116.2521" y2="10.3292">
                      <stop  offset="0" style="stop-color:#3880ff"/>
                      <stop  offset="1" style="stop-color:#3880ff"/>
                    </linearGradient>
                    <path fill="url(#SVGID_1_)" d="M77.477,155c-20.703,0-40.169-8.063-54.811-22.703c-30.222-30.223-30.222-79.398,0-109.621
                      C37.308,8.035,56.774-0.027,77.477-0.027c20.705,0,40.169,8.063,54.812,22.702c30.221,30.224,30.221,79.399,0,109.622
                      C117.646,146.938,98.182,155,77.477,155z"/>
                    <g>
                      <g>
                        <path fill="#FFFFFF" d="M77.477,139.496c-16.563,0-32.136-6.449-43.849-18.162c-24.178-24.178-24.178-63.518,0-87.696
                          c11.713-11.712,27.285-18.162,43.849-18.162c16.564,0,32.136,6.45,43.849,18.162c24.178,24.179,24.178,63.519,0,87.696
                          C109.613,133.047,94.041,139.496,77.477,139.496z"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="30.9907" y1="77.4863" x2="123.9648" y2="77.4863">
                          <stop  offset="0" style="stop-color:#3880ff"/>
                          <stop  offset="1" style="stop-color:#3880ff"/>
                        </linearGradient>
                        <path fill="url(#SVGID_2_)" d="M77.477,123.994c-12.422,0-24.102-4.838-32.887-13.623c-18.133-18.133-18.133-47.638,0-65.771
                          c8.785-8.784,20.465-13.621,32.887-13.621c12.423,0,24.103,4.837,32.886,13.622c18.135,18.133,18.135,47.638,0,65.772
                          C101.58,119.156,89.9,123.994,77.477,123.994z"/>
                      </g>
                    </g>
                  </g>
                  <g>
                  </g>
                  </svg>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </div>
  </ion-row>
    <ion-row>
        <div class="percent2">
            <ion-row *ngFor = "let rsSekarang of kalenderterkini">
                <ion-col>
                </ion-col>
                  <ion-col>
                      <b (click)="viewSekarang(sk)">{{ rsSekarang.besar_inflasi }}%</b>
                  </ion-col>
                  <ion-col>  
                  </ion-col>
              </ion-row>
          </div>
    </ion-row>
  <ion-row>
      <div *ngIf="cekin" class="test">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
                <svg version="1.1" id="ling" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 6 6" enable-background="new 0 0 6 6" xml:space="preserve">
                  <circle fill="#fff" cx="3" cy="3" r="2.963"/>
                </svg>
                <!-- <div class="go">Inflasi Tahun Kalender saat ini</div> -->
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
  </ion-row>
  <div class="bawah">
      <!-- <ion-card>
          <div class="imgcard">
              <svg version="1.1" id="grafikk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 195 90" enable-background="new 0 0 195 90" xml:space="preserve">
            <g>
              <g>
                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-2.4023" y1="45.5005" x2="197.3242" y2="45.5005">
                  <stop  offset="9.999999e-008" style="stop-color:#00AB5F"/>
                  <stop  offset="0.1076" style="stop-color:#00AE74"/>
                  <stop  offset="0.3491" style="stop-color:#00B59F"/>
                  <stop  offset="0.5678" style="stop-color:#00BBC1"/>
                  <stop  offset="0.7559" style="stop-color:#0BBFDA"/>
                  <stop  offset="0.9063" style="stop-color:#1AC2EA"/>
                  <stop  offset="1" style="stop-color:#1BC3F2"/>
                </linearGradient>
                <polyline fill="url(#SVGID_1_)" points="-2.402,32.334 32.51,2.325 60.116,21.963 97.7,0 120.779,36.998 153.699,12.25 
                  197.324,35.034 197.324,91 -2.35,91 -2.35,32.334 		"/>
                <polyline opacity="0.3" fill="#FFFFFF" points="-2.402,58.75 33.987,31.118 61.594,48.148 96.52,11.533 120.779,44.743 
                  158.949,22 197.199,44.25 197.324,91.578 -2.35,91.578 -2.35,59.25 		"/>
                <polyline opacity="0.5" fill="#FFFFFF" points="-2.402,69.008 41.073,46.402 74.683,60.883 127.1,50.994 149.918,63.355 
                  197.402,44.637 197.402,91.258 -2.031,91.258 -2.402,69.008 		"/>
              </g>
            </g>
            </svg>
          </div>   
      </ion-card> -->
      
      <ion-card>
        <ion-item>
          <ion-label>Besar Inflasi</ion-label><ion-label>Bulan</ion-label>
        </ion-item>
        <ion-item *ngFor ="let rsKaleng of kalender">
          <ion-label>{{ rsKaleng.besar_inflasi }}</ion-label><ion-label>{{ rsKaleng.nama_bulan }}</ion-label>
        </ion-item>
        <ion-button [routerLink]="['/menu/kalenderchart']">Lainnya</ion-button> 
      </ion-card>
      
  </div>
  <p class="ion-text-center">Inflasi Tahun Kalender saat ini</p>

  <div class="bawahs">
    <svg version="1.1" id="bawahgan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 140 35" enable-background="new 0 0 140 35" xml:space="preserve">
        <g>
          <path fill="#3880ff" d="M-6.025,7.042c9.119-7.386,22.528-9.014,33.149-4.025c6.35,2.981,11.489,7.968,16.996,12.313
            c5.507,4.345,11.888,8.235,18.902,8.346c6.843,0.108,13.146-3.369,19.336-6.287c6.549-3.088,13.44-5.666,20.643-6.411
            c7.201-0.746,14.78,0.469,20.818,4.464c3.463,2.291,6.344,5.429,9.996,7.404c3.652,1.977,8.627,2.488,11.638-0.371v13.614H-2.963
            L-6.025,7.042z"/>
        </g>
    </svg>
  </div>
</ion-content>
