.graph{
    #circle{
        width : 140px;
    }

    .percent2{
        position: absolute;
        top: 39%;
        width: 100%;
        font-size: 25px;
        color:rgb(0, 0, 0);
    }
}
ion-button{
    float:right;
}