<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Data Inflasi Pengeluaran</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="hero">
        <img src="../assets/imgs/bg-avatar.png"/>
    </div>
    <ion-row>
      <div class="csstahun">
        <ion-select [(ngModel)]="tahun" (ionChange)="loadKategori()" okText="Okay" cancelText="Cancel">
            <ion-select-option *ngFor ="let rsThan of tahunan" value="{{ rsThan }}">{{ rsThan }}</ion-select-option>
        </ion-select>
      </div>
    </ion-row>
    <div *ngIf="cek">
      <ion-grid padding>
        <ion-item *ngFor = "let rsKal of kategori">
              <ion-label>
                <p>{{ rsKal.nama_bulan }}</p> 
                {{ rsKal.nama_kategori }}
              </ion-label>
            <div class="orange">
                <ion-label>{{ rsKal.nilai_inflasi }}%</ion-label>
            </div>
          </ion-item>
      </ion-grid>
    </div>
    <div *ngIf="!cek">
        <ion-grid padding>
            <div class="tidakisi">
                <ion-item>
                    <ion-label></ion-label>
                    <ion-label>No Item</ion-label>
                    <ion-label></ion-label>
                </ion-item>
            </div>
        </ion-grid>
    </div>
    
</ion-content>
