<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inflasi YoY</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="bgatas">
        <img src="./assets/imgs/graph.jpg"/>
    </div>

    <ion-item *ngFor ="let rsKaleng of yoylimit">
        <ion-label>{{ rsKaleng.tahun }}</ion-label><ion-label>-></ion-label><ion-label>{{ rsKaleng.tahun2 }}</ion-label><ion-label>{{ rsKaleng.nama_bulan }}</ion-label><ion-label>{{ rsKaleng.besar_inflasi }}</ion-label>
    </ion-item>

      <ion-button [routerLink]="['/menu/yo-y']">Move to test page</ion-button>
</ion-content>
