<ion-content>
  <div>
      <svg version="1.1" id="bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 320 150" enable-background="new 0 0 320 150" xml:space="preserve">
   <g>
     <defs>
       <rect id="SVGID_1_" x="-1.5" y="-1.75" width="322" height="480"/>
     </defs>
     <clipPath id="SVGID_2_">
       <use xlink:href="#SVGID_1_"  overflow="visible"/>
     </clipPath>
     <ellipse clip-path="url(#SVGID_2_)" fill="#fff" cx="159.5" cy="-220.902" rx="373.32" ry="371"/>
   </g>
   </svg>
  </div>
      <ion-grid class="bps">
        <ion-row>
          <ion-col></ion-col>
          <ion-col class="logo">
            <img src="../assets/imgs/bps2.png"/>
          </ion-col>  
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
  <div class="text">
    <b>Login</b>
  </div>
      <form #form="ngForm" (ngSubmit)="login(form)" method="post" padding>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" type="email" name="email" required></ion-input>
            <!-- This is the error section -->
        </ion-item>
        <div style="color: red; padding-top: 0.2rem" *ngIf="validasi && !email">email invalid!</div>
      
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password" name="password" required minlength="8" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
        </ion-item>
        <div style="color: red; padding-top: 0.2rem" *ngIf="validasi && !password">password salah</div>
        <!-- <ion-button type="submit" expand="full" color="primary" >Login</ion-button> -->
        <ion-row>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col>
              <ion-button color="medium-contras" type="submit" class="btn-update"><b>Login</b></ion-button>
            </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <div class="geser">
          <ion-row>
                <div class="account">Don't have an account?</div><div class="regis" [routerLink]="['/menu/register']">Register</div>
          </ion-row>
        </div>
      </ion-row>  
  
  <!-- <div class="Lbawah">
      
  </div> -->
</ion-content>