<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <svg version="1.1" id="bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 320 150" enable-background="new 0 0 320 150" xml:space="preserve">
 <g>
   <defs>
     <rect id="SVGID_1_" x="-1.5" y="-1.75" width="322" height="480"/>
   </defs>
   <clipPath id="SVGID_2_">
     <use xlink:href="#SVGID_1_"  overflow="visible"/>
   </clipPath>
   <ellipse clip-path="url(#SVGID_2_)" fill="#fff" cx="159.5" cy="-220.902" rx="373.32" ry="371"/>
 </g>
 </svg>
</div>
    <ion-grid class="bps">
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="logo">
          <img src="../assets/imgs/bps2.png"/>
        </ion-col>  
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <div class="text">
      <b>Register</b>
    </div>
  <form style="margin-top: 0!important; padding-left:15px; padding-right:5px;" (ngSubmit)="register()" method="post">
    <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input [(ngModel)]="user.name" name="name"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem" *ngIf="validasi && !user.name">nama harus di isi</div>
  
    <ion-item>
      <ion-label position="floating">Alamat</ion-label>
      <ion-input [(ngModel)]="user.alamat" name="alamat"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem" *ngIf="validasi && !user.alamat">alamat harus di isi</div>

    <ion-item>
        <ion-label position="floating">Pekerjaan</ion-label>
        <ion-select [(ngModel)]="user.pekerjaan" name="pekerjaan">
          <ion-select-option value="Mahasiswa">Mahasiswa</ion-select-option>
          <ion-select-option value="Dosen">Dosen</ion-select-option>
          <ion-select-option value="PNS">PNS</ion-select-option>
          <ion-select-option value="Peneliti">Peneliti</ion-select-option>
        </ion-select>
      </ion-item>
      <div style="color: red; padding-top: 0.2rem" *ngIf="validasi && !user.pekerjaan">pekerjaan harus di isi</div>
    <!-- <ion-item>
      <ion-label position="floating">Telepon</ion-label>
      <ion-input [(ngModel)]="user.telp" name="telp"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem" *ngIf="validasi && !user.telp">telp harus di isi</div> -->
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem" *ngIf="validasi && !user.email">Email harus diisi</div>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required minlength="8" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem" *ngIf="validasi && !user.password">Password minimal 8 character</div>
    <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col>
          <ion-button type="submit" color="medium-contras" class="btn-update"><b>Register</b></ion-button>
        </ion-col>
    </ion-row>
  </form>
  <!-- <div class="Lbawah">
      
  </div> -->
</ion-content>  