  .bgatas #atas{
        width: 100%;
        margin: 0 !important;
        position: relative;
    }

    .csstahun{
        position:absolute;
        top: 0%;
        right: 0%;
        padding-right: 5px;
        padding-left: 5px;
        color: #fff;
    }

    ion-content .judul{
        top: 25%;
        position :absolute;
        color: white;
        background: #3880ff;
        width:100%;
        padding: 5px;
        margin-bottom:5% !important;
    }

     ion-grid .isi{
        position: relative;
        padding-top: 30px;
    }

    ion-grid .tidakisi{
        position: relative;
        margin-top: 20px;
    }


    .header-md::after{
        display: none;
    }

