  .bgatas img{
        width: 100%;
        height:200px;
        margin: 0 !important;
    }

    ion-content ion-grid .judul{
        top:163px !important;
        position :absolute;
        color: white;
        background: rgba(22,136,147, .7);
        width:100%;
        padding: 5px;
        margin:0 !important;
    }


